<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var map = "[[${map}]]";
            map = map.substring(1, map.length-1);
            map = map.split(",");
            var dat = [];
            for(i in map) {
                var l = map[i].split("=")
                dat.push(l);
                dat[i][0] = dat[i][0].replace(" ", "")
                dat[i][1] = parseInt(dat[i][1])
            }
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Country');
            data.addColumn('number', 'amount');
            data.addRows(["Razdwa", 1234]);
            var options = {
                title: 'Countries of app Users'
            };
            var chart = new google.visualization.PieChart(document.getElementById('piechart'));
            chart.draw(data, options);
        }
    </script>
</head>
<body>

<div id="piechart"></div>

<div class="container">
    <form action="#" th:action="@{/addrel}">
        <input th:value="${pid}" type="text" name="pid" placeholder="person id">
        <input th:value="${aid}" type="text" name="aid" th:type="hidden">
        <input th:value="${site}" type="text" name="site" th:type="hidden">
        <p>
            <input type="submit" value="add relation" class="btn btn-primary"/>
        </p>
        <div class="form-text text-danger"
             th:if="${#fields.hasErrors('pid')}"
             th:errors="*{pid}">
            First name Error
        </div>
    </form>
    <div class="container">
        <h1>People in Application:<span th:text="${ppl.size()}"></span></h1>
        <table class="table table-bordered container">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">first name</th>
                <th scope="col">last name</th>
                <th scope="col">username</th>
                <th scope="col">country</th>
                <th scope="col">email</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="person : ${ppl}">
                <td th:text="${person.id}"/>
                <td th:text="${person.firstName}"/>
                <td th:text="${person.lastName}"/>
                <td th:text="${person.userName}"/>
                <td th:text="${person.country}"/>
                <td th:text="${person.email}"/>
                <td>
                    <a th:href="@{/person/{id}(id=${person.id})}"><button type="button" class="btn btn-primary">Info</button></a>
                    <a th:href="@{/delrel/(pid=${person.id}, aid=${id}, site=${site})}"><button type="button" class="btn btn-danger">Unlink</button></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <a th:href="@{/api/app/{id}(id=${id})}" class="btn btn-primary" role="button">Json</a>
        <a th:href="@{/}" class="btn btn-primary" role="button">Back</a>
    </div>
    <p id="hej"></p>

</div>
<script>
    var map = "[[${map}]]";
    map = map.substring(1, map.length-1);
    map = map.split(",");
    var dat = [];
    for(i in map) {
        var l = map[i].split("=")
        dat.push(l);
        dat[i][0] = dat[i][0].replace(" ", "")
        dat[i][1] = parseInt(dat[i][1])
    }
    document.getElementById("hej").innerHTML = "<p>" + dat + "</p>"
</script>

</body>
</html>