<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>hello</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div>
        <form action="#" th:action="@{/(id=${id})}" class="container">
            <input th:value="${id}" type="text" name="id" placeholder="person id"><p>
                <input type="submit" value="search" class="btn btn-primary"/>
            </p>
        </form>
        <div>
            <a th:href="@{/addapp}" class="btn btn-primary" role="button">New App</a>
            <a th:href="@{/ppl}" class="btn btn-primary" role="button">People</a>
            <a th:href="@{/appcsv}" class="btn btn-primary" role="button">Download</a>
        </div>
    </div>
    <table class="table table-bordered container">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">name</th>
            <th scope="col">domain</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="app : ${apps}">
            <td th:text="${app.id}"/>
            <td th:text="${app.name}"/>
            <td th:text="${app.domain}"/>
            <td>
                <a th:href="@{/app/{id}(id=${app.id})}"><button type="button" class="btn btn-primary">Info</button></a>
                <a th:href="@{/app/edit/{id}(id=${app.id})}"><button type="button" class="btn btn-success">Edit</button></a>
                <a th:href="@{/app/del/{id}(id=${app.id})}"><button type="button" class="btn btn-danger">Del</button></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>