<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>

<div id="piechart"></div>

<div class="container">
    <form action="#" th:action="@{/addrel}">
        <input th:value="${aid}" type="text" name="aid" placeholder="app id">
        <input th:value="${pid}" type="text" name="pid" th:type="hidden">
        <input th:value="${site}" type="text" name="site" th:type="hidden">
        <p>
            <input type="submit" value="add relation" class="btn btn-primary"/>
        </p>
    </form>
    <div class="container">
        <h1>People in Application:<span th:text="${apps.size()}"></span></h1>
        <table class="table table-bordered container">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">name</th>
                <th scope="col">domain</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="app : ${apps}">
                <td th:text="${app.id}"/>
                <td th:text="${app.name}"/>
                <td th:text="${app.domain}"/>
                <td>
                    <a th:href="@{/app/{id}(id=${app.id})}"><button type="button" class="btn btn-primary">Info</button></a>
                    <a th:href="@{/delrel/(aid=${app.id}, pid=${id}, site=${site})}"><button type="button" class="btn btn-danger">Unlink</button></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <a th:href="@{/api/person/{id}(id=${id})}" class="btn btn-primary" role="button">Json</a>
        <a th:href="@{/ppl}" class="btn btn-primary" role="button">Back</a>
    </div>
</div>

</body>
</html>