<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<h2>Add Person</h2>
<form action="#" th:action="@{/addperson}" th:object="${person}" method="post">
    <div th:class="form-group">
        <input class="form-control" type="text" placeholder="First Name"
               th:field="*{firstName}"/>
        <div class="form-text text-danger"
             th:if="${#fields.hasErrors('firstName')}"
             th:errors="*{firstName}">
            First name Error
        </div>
    </div>

    <div th:class="form-group">
        <input class="form-control" type="text" placeholder="Last Name"
               th:field="*{lastName}"/>
        <div class="form-text text-danger"
             th:if="${#fields.hasErrors('lastName')}"
             th:errors="*{lastName}">
            First name Error
        </div>
    </div>
    <div th:class="form-group">
        <input class="form-control" type="email" placeholder="email"
               th:field="*{email}"/>
        <div class="form-text text-danger"
             th:if="${#fields.hasErrors('email')}"
             th:errors="*{email}">
            First name Error
        </div>
    </div>

    <div th:class="form-group">
        <input class="form-control" type="text" placeholder="country"
               th:field="*{country}"/>
        <div class="form-text text-danger"
             th:if="${#fields.hasErrors('country')}"
             th:errors="*{country}">
            First name Error
        </div>
    </div>
    <div th:class="form-group">
        <input class="form-control" type="text" placeholder="username"
               th:field="*{userName}"/>
        <div class="form-text text-danger"
             th:if="${#fields.hasErrors('userName')}"
             th:errors="*{userName}">
            First name Error
        </div>
    </div>

    <div th:class="form-group">
        <input class="form-control" type="password" placeholder="password"
               th:field="*{password}"/>
        <div class="form-text text-danger"
             th:if="${#fields.hasErrors('password')}"
             th:errors="*{password}">
            First name Error
        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a th:href="@{/ppl}" class="btn btn-primary" role="button">People</a>
    </div>
</form>
</body>
</html>