<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>hello</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div>
        <a th:href="@{/addperson}" class="btn btn-primary" role="button">New Person</a>
        <a th:href="@{/}" class="btn btn-primary" role="button">Apps</a>
        <a th:href="@{/personcsv}" class="btn btn-primary" role="button">Download</a>
    </div>
    <table class="table table-bordered container">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">first name</th>
            <th scope="col">last name</th>
            <th scope="col">username</th>
            <th scope="col">country</th>
            <th scope="col">email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="person : ${ppl}">
            <td th:text="${person.id}"/>
            <td th:text="${person.firstName}"/>
            <td th:text="${person.lastName}"/>
            <td th:text="${person.userName}"/>
            <td th:text="${person.country}"/>
            <td th:text="${person.email}"/>
            <td>
                <a th:href="@{/person/{id}(id=${person.id})}"><button type="button" class="btn btn-primary">Info</button></a>
                <a th:href="@{/person/edit/{id}(id=${person.id})}"><button type="button" class="btn btn-success">Edit</button></a>
                <a th:href="@{/person/del/{id}(id=${person.id})}"><button type="button" class="btn btn-danger">Del</button></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>